[package]
name = "grease_api"
version = "0.1.0"
authors = ["Sam Mohr <sammohr97@gmail.com>"]

[dependencies]
base64 = "0.10"
bcrypt = "0.4"
cgi = "0.2"
chrono = { version = "0.4", features = ["serde"] }
dotenv = "0.14.1"
glob = "0.3"
itertools = "0.8.2"
icalendar = "0.8"
regex = "1.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0", features = ["preserve_order"] }
url = "1.7.2"
uuid = { version = "0.7", features = ["v4"] }
diesel = { version = "1.4.3", features = [ "mysql", "chrono", "serde_json" ] }
diesel-derive-enum = { version = "0.4.4", features = [ "mysql" ] }
zip = "0.5"
typed-html = "0.2"

[profile.release]
panic = "unwind"

[patch.crates-io]
mysqlclient-sys = { git = "https://github.com/pzmarzly/mysqlclient-sys", rev = "acd1b2b" }
