<html>
  <head></head>
  <body>
    <h2>
      <a href="https://glubhub.org/#/events/{{ event.id }}">
        {{ event.name }}
      </a>
    </h2>

    <p>
      <b>{{ event.type }}</b>
      {% match end_time %}
        {% when Some with (end) %}
          from
          <b>{{ start_time }}</b>
          to
          <b>{{ end }}</b>
        {% when None %}
          at
          <b>{{ start_time }}</b>
      {% endmatch %}

      {% if event.location.len() > 0 %}
        <b>{{ event.location }}</b>
      {% endif %}
    </p>

    {% match uniform_name %}
      {% when Some with (name) %}
        <p>Uniform: {{ name }}</p>
      {% when None %}
    {% endmatch %}
    
    {% if event.comments.len() > 0 %}
      <p>{{ event.comments }}</p>
    {% endif %}
  </body>
</html>
